.header {
  display: grid;
  grid: auto/auto auto auto auto auto;
  background-color: white;
  align-items: center;
  align-content: center;
  justify-items: center;
  height: 20vh;
}
a {
  color: black;
  text-decoration: none;
}
.button {
  width: 12vw;
  height: 8vh;
  padding: 1vh 2vw;
  border-radius: 25vh;
  background-color: aqua;
  border: none;
  font-weight: bold;
  font-size: 2.5vh;
}

/* first-section */
.first-section {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  /* justify-content: center; */
  grid: auto auto/auto auto;
  background-image: url("image/163db858a528d6746b088818c2864001");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first-section > div {
  margin-top: 5vh;
}

#first-section-id {
  font-size: 10vh;
  padding: 1vh;
  color: white;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: Flood Std;
}
.first-section-footer {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: aliceblue;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 2vh 2vw 4vh 2vw;
}
.first-section-div {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: aliceblue;
  background-size: contain;
  text-align: center;
  margin: 5vh;
  padding: 2vh;
}
.first-section-quote-block {
  /* padding: 5vh; */
  width:25vw;
  height:22vw;
}
.first-section-action-block {
  width: 15vh;
  padding: 2vh;
  background-color: black;
  color: white;
}
.first-section-issue-block {
  position: relative;
  top: -5vh;
  left: 5vh;

  width: 15vh;
  padding: 2vh;
  background-color: black;
  color: white;
}
.first-section-action-block {
  position: relative;
  bottom: -15vh;
  left: 40vw;
}


.second-section {
  display: grid;
  grid: 30vh auto/auto auto auto;
  justify-items: stretch;
  align-items: center;

  background-color: rgba(53, 68, 99, 1);
}
.second-section-small-box {
  width: 6vw;

  padding: 4px 3vw 4px 3vw;
  font-size: 1.2vw;
  background-color: white;
  color: black;
  font-weight: bold;
  position: relative;
  top: 1vh;
  left: 2vw;
}

.second-section-griditem1 {
  grid-column: 1/4;
  grid-row: 1/2;
  color: white;
  font-size: 6vh;
  text-align: center;
}
.second-section-griditem2 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid: 40vh auto/auto;
  background-color: white;
  margin: 4vh;
  width: 20vw;
  margin-left: 4vw;
}
.second-section-box {
  background-color: white;
  text-align: center;
  padding: 1vw;
}

.second-section-griditem3 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  display: grid;
  grid: 40vh auto/auto;
  background-color: white;
  width: 20vw;
  margin-left: 4vw;
  margin: 4vh;
}
.second-section-griditem4 {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  display: grid;
  grid: 40vh auto/auto;
  background-color: white;
  width: 20vw;
  margin-left: 4vw;

  margin: 4vh;
}
#img1 {
  background-image: url("image/dd078d97e28f901b5eaf12bef9d0a8ab");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  left: 2vw;
  top: -2vh;
}
#img2 {
  background-image: url("image/4edce25ab68dfd25997fe80acc1f0151");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("image/163db858a528d6746b088818c2864001");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  left: 2vw;
  top: -2vh;
}
#img3 {
  background-image: url("image/59856727bec1321752a8ce894f547de8");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  left: 2vw;
  top: -2vh;
}

/* third-section */

.third-section-small-box{
  width:8vw;
  background-color:black;
  color:white;
  padding:1vw;
  position: relative;
  left:2.5vw;
  top:-2.5vw;

}
.third-section
{ background-image: url("image/9cd2ba0e196c24aaf1faed2f6e79895d");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:grid;
  grid:auto auto auto auto/40vw auto;
align-items:center;
justify-items: center;
text-align: center;
/* grid-gap:2vw; */

}
.third-section > div
{
  margin:1vw;
}

.third-section-item1{
  font-family: flood std;
  color:white;
  font-size:5vw;
  grid-column: 1/2;
  grid-row: 2/3;
  text-align:center;
}
.third-section-item6
{
  grid-column:1/2; 
  grid-row:3/4;
  
}
.third-section-item2
{
  grid-column: 2/3;
  grid-row:1/2;
}
.third-section-item3{
  grid-column: 2/3;
  grid-row:2/3;
}
.third-section-item4{
  grid-column: 2/3;
  grid-row:3/4;
}
.third-section-item5{
  grid-column: 2/3;
  grid-row:4/5;
}
.third-section-box
{
  width:18vw;
  background-color: white;
  padding:2vw;
}

/* fourth-section */
.fourth-section
{
  display:flex;
margin:8vw;
}
.fourth-section-text
{
  width:30vw;
  margin:5vw;
   background-color: rgba(53, 68, 99, 1);
  text-align: center;
  color:white;
  position: relative;
  left:10vw;
  

}
.fourth-section-img
{
  width:50vw;
  background-image: url("image/9da99e3fd993618ffd06f2f4a48a7d7b");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.fourth-id
{
  font-size:2.3vw;
  font-weight:normal;
}


.header-nav1
{
  text-align:center;
}


h1{
font-size:1vw;
}
p{
  font-size: 2vw;
}
.fourth-section-stories
{
  width:6vw;
  padding:1vw;
  background-color: rgba(53, 68, 99, 1);
  color:white;
  position:relative;
  left:16vw;
  top:-1.5vw;
}
/* fifth-section */
.fifth-section
{
  display:grid;
  grid:10vw auto auto/auto auto;
  background-color: rgba(53, 68, 99, 1);
  
}
.fifth-section > div{
  margin:2vw;
  padding:5vw;
}
.fifth-section-quote
{
  color:white;
  font-family:flood std;
  text-align:center;
  font-size:3vw;
  grid-column: 1/3;
  grid-row:1/2;
  align-self: center;
}
.fifth-section-img1{
  background-image: url("image/dd078d97e28f901b5eaf12bef9d0a8ab");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.fifth-section-img2
{
  background-image: url("image/88d206868b20d669629799c23ab3252b");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fifth-section-text1
{
text-align:center;
align-self: center;
color:white;

}
.fifth-section-text2
{
  color:white;
  text-align:center;
  align-self: center;
}
.fifth-section-text2-btn
{
  width:10vw;
  padding:1vw;
  color:rgba(53, 68, 99, 1);
  background-color: aliceblue;
}
.fifth-section-text1-event
{

  width:10vw;
  padding:1vw;
  color:rgba(53, 68, 99, 1);
  background-color: aliceblue;l
}

h1{
  font-size:3vw;
}

/* sixth-section */

.sixth-section
{
display:flex;
justify-content: space-between;
background-color: aqua;
text-align:center;
align-items: center;
}
.sixth-section-input
{
  width:8vw;
  padding:1vw 2vw;
  border-radius: 25px;
  border: none;
  font-weight:bold;
}

.aa{
  background-color: white;
}

/* footer */

.footer{
  display:grid;
    grid-template-columns: repeat(5,1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}
.footer > div{
  text-align: center;
  margin:1vw;
}

@media (max-width:600px)
{
  h1{
    font-size:5vw;
  }
  p{
    font-size:4vw;
  }
  .header
  {
    display: grid;
    height:150px;
    grid: auto auto auto auto/ auto auto;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-items: center;
   
  }
  h3{
    font-size:2vw;
  }
  
  .header-nav1
  {
    grid-column:1/2;
    grid-row:1/4;
  }
  .header-nav2
  {
    grid-column:2/3;
    grid-row:1/2;
  }
  .header-nav3
  {
    grid-column:2/3;
    grid-row:2/3;
  }
  .header-nav4
  {
    grid-column:2/3;
    grid-row:3/4;
  }
  .header-nav5
  {
    grid-column:1/3;
    grid-row:4/5;
  }
  .button {
    width: 35vw;
    height: 6.5vh;
    padding: 1vh 2vw;
    border-radius: 25vh;
    background-color: aqua;
    border: none;
    font-weight: bold;
    font-size: 3.5vw;
  }
  /* .first-section */
  .first-section {
    display:flex;
    flex-direction:column;
  }
    .first-section-quote-block
    {
      width:60vw;
      height:35vw;;
      
    }
    .first-section-action-block{
      left:20vw;
    }
    .first-section-issue-block{
      left:18vw;
    }
    .first-section-footer
    {
      display: grid;
      grid:auto auto / auto auto;
      text-align: center;
    }

    /* second-section */

    .second-section{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
           padding:10vw;
    }
    .second-section-small-box
    {
      width:25vw;
      padding:2vw;
      font-size:4vw;
      left:20vw;
      top:-2.5vw;
      
    }
    .second-section-griditem2
    {
      grid: 40vh auto/auto;
      background-color: white;
      margin: 4vh;
      width: 80vw;
      margin-left: 4vw;

    }
    .second-section-griditem3
    {
      grid: 40vh auto/auto;
      background-color: white;
      margin: 4vh;
      width: 80vw;
      margin-left: 4vw;

    }
    .second-section-griditem4
    {
      grid: 40vh auto/auto;
      background-color: white;
      margin: 4vh;
      width: 80vw;
      margin-left: 4vw;

    }
    
    #img1
    {
      left:0vw;
      top:-5vw;
        width:60vw;
      left:9.5vw;
      top:-8vw;
      
    }

    #img2
    {
      left:0vw;
      top:-5vw;
        width:60vw;
      left:9.5vw;
      top:-8vw;
      
    }

    #img3
    {
      left:0vw;
      top:-5vw;
        width:60vw;
      left:9.5vw;
      top:-8vw;
      
    }
    .second-section-griditem1
    {
      padding:4vw;
    }

/* section third */

.third-section
{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding-top:4vw;
  padding-bottom: 4vw;

}

.third-section-item1
{
  font-size:12vw;
}
.third-section-item6
{
  width: 50vw;
    height: 6.5vh;
    padding: 1vh 2vw;
    border-radius: 25vh;
    background-color: aqua;
    border: none;
    font-weight: bold;
    font-size: 5vw;
}
.third-section-box
{
  width:80vw;
}
.third-section-small-box
{
  width:25vw;
  left:20vw;

}

/* .fourth-section */

.fourth-section
{
  flex-direction:column-reverse;
  align-items: center;
}
.fourth-section-img
{
  width:80vw;
  height:80vw;
}
.fourth-section-text
 {
   width:80vw; 
   
   padding:3vw; 
   padding:20vw; 
  /* height:80vw; */
  width:40vw;
  left:0vw;
  
}
.fourth-id
{
  font-size:5vw;
  


}

.fourth-section-stories
{
  width:40vw;
  text-align: center;
  padding:2vw;
  font-size:5vw;
}


/* fifth-section */

.fifth-section
{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.fifth-section-quote
{
  font-size: 7vw;
}
.fifth-section-img1
{
  height:70vw;
  width:70vw;
}
.fifth-section-text1-event
{
  width:30vw;
  font-size:5vw;
  position: relative;
  top:-93vw;
  left:20vw;
}
.fifth-section-text2-btn
{
  width:30vw;
  font-size:4vw;
  padding:2vw;position: relative;
  bottom:-80vw;
  left:20vw;
}
.fifth-section-img2
{
  width:70vw;
  height:70vw;
  
}

/* sixth-section */

.sixth-section
{
  display:grid;
  grid: 1fr 1fr/ 1fr 1fr;
}
.sixth-section-heading{
  grid-row:1/2;
  grid-column:1/3;


}
.sixth-section-input
{
  grid-column: 1/2;
  grid-row: 2/3;
  width:30vw;
  padding:2.7vw;
  text-align: center;
  align-self: center;
}
.aa
{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color:rgba(53, 68, 99, 1);
}

/* footer */

.footer
{
  display: grid;
  grid:1fr 1fr 1fr/1fr 1fr;
  
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  grid-gap:2vw;
  margin:2vw;
}



}



  


